
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
/* -------------------- Global -------------------- */
:root {
	--body-color: #0e5685;
	--primary-color: rgb(29, 128, 255);
	--secondary-color: rgb(4, 30, 47);
	--accent-color: rgb(0, 212, 255);
	--white-color: rgb(255, 255, 255);
	--black-color: rgb(0, 0, 0);

}


* {
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Rose", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	  
	  
}

h1 {
	color: var(--white-color);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 50px;
}

body {
	background-color: var(--body-color);
}

section {
	/* border: 1px solid yellow; */
	/* width: 100%; */

}

section>*:first-child {
	/* border: 1px solid red; */
    margin: 200px 0px;
}

/* -------------------- NavBar -------------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: .4rem 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	z-index: -1;
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
	transition: left 0.5s ease;
}

.header:hover::after {
	left: 100%;
}


.logo img {
	width: 70px;
}

.navbar {
	transition: all 1s ease;
}

.navbarToggle {
	display: none;
}

.navbar a,
.navbarToggle a {
	position: relative;
	font-size: 1.5rem;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 500;
	margin-left: 2.5rem;
	transition: transform 0.1s ease-in-out;
	display: inline-block;
}



.navbar>a:hover,
.navbarToggle>a:hover {
	transform: scale(1.2);
}

.navbar a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: var(--white-color);
	transition: 0.2s ease-in;
}


.navbar a:hover::after{
	width: 100%;
}


.icons {
	position: absolute;
	right: 5%;
	font-size: 2rem;
	color: var(--white-color);
	cursor: pointer;
	display: none;
}

/* Breakpoints */

@media (max-width: 992px) {
	.header {
		padding: 1.3rem 5%;
	}
}

@media (max-width: 768px) {
	.icons {
		display: inline-flex;
	}

	#close-icon {
		display: none;
	}

	.navbar {
		display: none;
	}

	.navbarToggle {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(15px);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
		transition: max-height 0.3s ease-in-out;
	}

	.navbarToggle a {
		display: block;
		font-size: 1.1rem;
		margin: 1.5rem 0;
		text-align: center;
	}
}

.noDisplay {
	display: none;
	height: 0;
}

.displayToggleNav {
	max-height: 17.7rem;
}

/*--------------------- Hero ---------------------  */

main {
	margin-top: 210px;
}

/* .hero-wrapper {
    background-image: radial-gradient(
        at 80% 0%,
        hsla(235, 67%, 24%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 100%, hsla(232, 85%, 5%, 1) 0px, transparent 50%),
      radial-gradient(at 94% 93%, hsla(240, 81%, 6%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(214, 43%, 52%, 1) 0px, transparent 50%);
    height: 100vh;
    position: relative;
  } */

.hero {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	padding-right: 70px;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	position: relative;
}

/* Hero left section */

.left {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.message {
	font-size: 16px;
	color: var(--accent-color);
}

.title {
	font-size: clamp(2rem, 1.3223rem + 3.012vw, 3.25rem);
	font-weight: 700;
	line-height: 1.3;
	color: var(--white-color);
}

.title span {
	color: var(--accent-color);
}

.description {
	color: var(--accent-color);
}

.btns {
	display: flex;
	gap: 15px;
	align-items: center;
}

.download-btn {
	background: linear-gradient(180deg, skyblue, var(--accent-color));
	box-shadow: 0 0 10px var(--accent-color);
	text-decoration: none;
	width: max-content;
	padding: 10px 25px;
	border-radius: 100px;
	font-size: 15px;
	color: var(--white-color);
	transition: all 0.2s ease;
}

.see-work-btn {
	border: 3px solid var(--accent-color);
	color: var(--white-color);
	text-decoration: none;
	width: max-content;
	padding: 5px 30px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all 0.2s ease;
}

.download-btn:hover,
.see-work-btn:hover {
	transform: scale(1.05);
}

.see-work-btn i {
	font-size: 25px;
	/* width: 40px; */
	opacity: 0.6;
}

/* Hero right section */

.right {
	position: relative;
}

.borders {
	width: clamp(10.625rem, 5.5422rem + 22.5904vw, 30rem);
	height: clamp(10.625rem, 5.5422rem + 22.5904vw, 30rem);
	border: 1px solid rgb(109, 109, 254);
	border-radius: 250px;
	padding: 20px;
	background: linear-gradient(200deg, transparent 70%, rgb(89, 130, 253));
}

.img-wrapper {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 20px 30px 4px rgba(16, 143, 255, 0.542);
	border-radius: 250px;
	padding: 4px;
	overflow: hidden;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 250px;
	transition: transform 0.6s ease-in-out;
}

.img-wrapper img:hover {
	transform: scale(1.1);
}

.prism,
.spiral {
	position: absolute;
}

.prism {
	top: 0;
	left: 5px;
	width: 100px;
	filter: hue-rotate(250deg) brightness(1.5);
	/*????*/
	animation: rotate 5s infinite alternate-reverse ease-in-out;
}

.spiral {
	right: 0;
	bottom: -20px;
	width: 150px;
	filter: hue-rotate(280deg);
	animation: rotate 3s infinite alternate ease-in-out;
}

/* Rotate Animation */
@keyframes rotate {
	from {
		transform: rotate(0deg) scale(0.8);
	}

	to {
		transform: rotate(306deg) scale(1);
	}
}
/* -------------------- About -------------------- */
/* TODO LATER */
/* .about_wrapper{
	padding: ;
	margin: ;
} */

.grid{
	display: grid;
}

/* -------------------- About Card -------------------- */

.about_card{
	
	margin-bottom: 10rem;
	
}
.about_container{
	display: flex;
	/* margin: 0 15rem; */
	
}
/* apply to change left and right side of the card  */
.card_reverse{
	flex-direction: row-reverse;
}

.card_left, .card_right{
	margin: 0 1% ;
	width: 35rem;
	height: 25rem;
	background-color: white;
	border-radius: 50px;
}

.card_left{
	border: 5px solid var(--accent-color);
}

.card_right{
	background-color: rgba(255,255,255, 0.1);
	padding: 3rem;
	align-content: center;
}

.card_right p{
	color: var(--white-color);
	font-size: 1.2rem;
	font-weight: 500;
}

.card_left img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}



@media (max-width: 1280px ) {
	.card_left, .card_right{ 
		width: 28rem;
		height: 20rem;
		margin: 0 2%;
	}
	.about_card{
		margin-bottom: 7rem;
	}
	/* .about_container{
		justify-content: space-around;
	} */

	.card_right p{
		font-size: 1.1rem;
	}
}




/* -------------------- Card -------------------- */


.card_wrapper {
	width: 273px;
	height: 380px;
	justify-self: center;
	outline: 3px solid #fff;
	border-radius: 20px;
	/* padding: 15px; */
	box-shadow: 0px 0px 10px #fff;
	transition: all 0.2s ease-in-out;
}

.card_wrapper:hover {

	/* box-shadow: 0px 0px 25px #fff; */
}

.cardData {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	height: 100%;
	border-radius: 20px;

	overflow: hidden;
}

.top_wrapper {
	background-color: var(--secondary-color);
}

.top {
	background-color: var(--white-color);
	overflow: hidden;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 0px;
	text-align: center;
	align-content: center;
	height: 100%;
}

.top {
	color: var(--black-color);
}

.bottom_wrapper {
	background-color: var(--white-color);
}

.bottom {
	color: var(--white-color);
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	padding: 5px;
	/* border-radius: 20px; */
	border-top-left-radius: 0px;
	border-top-right-radius: 45px;
	height: 100%;
	width: 100%;
}

.bottom p {
	font-size: 0.85rem;
	padding: 0.2rem;
}

.buttons {
	display: flex;
	gap: 20px;
	/* justify-content: space-evenly; */
	margin: 20px auto 0 auto;
}

.buttons button {
	font-size: 14px;
	padding: 8px 22px;
	border-radius: 20px;
	border: none;
	outline: none;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.buttons button:hover {
	box-shadow: 0px 0px 25px #fff;
	transform: scale(1.05);
}

.bottom .description {
	color: #fff;
}


/* -------------------- Slider -------------------- */

.projects {}

.innerBody {
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	color: var(--white-color);

}

.swiper {
	width: 900px;
	/* min-width: 300px; */
	margin: 0 15px !important;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}


@media (max-width: 992px) {
	.swiper {
		width: 650px;
	}
}

@media (max-width: 769px) {
	.swiper {
		width: 300px;
	}
}

.prevBtn,
.nextBtn {
	display: flex;
	font-size: 50px;
	/* border: 2px solid #000; */
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-in-out;
}

.prevBtn {
	order: 0;
}

.nextBtn {
	order: 2;
}

.prevBtn:hover,
.nextBtn:hover {
	/* backgrounfd-color: hsla(0, 0%, 100%, 0.463); */
	transform: scale(1.15);
}

/* -------------------- SkillCard -------------------- */
.skillCard_container{
background-color: red;
width: 100%;
height: 100%;
border: 2px solid var(--accent-color);
border-radius: 20px;


display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(var(--primary-color),var(--secondary-color));
}

.card{
  position: relative;
  width: 200px;
  height: 200px;
}

.card .rating{
position: relative;
width: 100%;
height: 100%;
}

.card .rating .block {
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: var(--black-color);
  left: 50%;
  transform-origin: 50% 100px;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
}

.loadColor{
  /* background: var(--accent-color) !important; */
  /* box-shadow: 0 0 15px inherit; */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.card .rating h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  /* text-align: center; */
  line-height: 1.5rem;
}

.card .rating h2 span{
  font-size: 2.5rem;
  font-weight: 700;
}

.card .rating h2 sup{
  font-size: 1.5rem;
  font-weight: 300;
}



/* -------------------- Skills -------------------- */


.swiper_box {
	display: flex;
	justify-content: center;
}

.swiper_box .swiper {
  width: 60%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper_box .swiper .swiper-slide {
  background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
  display: block;
	width: 100%;
}

.skills h2{
  text-align: center;
  color: var(--white-color);
}


/* -------------------- Last -------------------- */

.last_container {
	text-align: center;
	align-content: center;
	font-size: 50px;
	color: var(--white-color);
	width: 100%;
	height: 400px;

	/* This bacground color must be in the last section  */
	/* background: rgb(14, 86, 133); */
  background: var(--body-color);
	background: linear-gradient(180deg,var(--body-color) 0%, var(--secondary-color) 100%);
}

/* -------------------- Footer -------------------- */

footer {
	/* width: 100vw; */
	background-color: var(--secondary-color);
}

.footer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	height: 300px;
	margin: 0 auto;
	padding: 0 150px;
}

.footer_left {
	/* margin-left: 350px; */
}

.footer_logo img {
	width: 150px;
	height: 150px;
	color: var(--white-color);
}

.footer_right {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.footer_right span {
	font-size: 45px;
	text-align: start;
	min-width: 50%;
	font-weight: 700;
	color: var(--white-color);
	text-decoration: underline;

}

.footer_list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	gap: 2rem;
}

.footer_list li {
	font-size: 30px;
	width: 50px;
	height: 50px;
	/* border: 2px solid black; */
	border-radius: 60px;
	padding: 7.5px 5px 7.5px 5px ;
	box-shadow: 0px 0px 10px white;
	text-align: center;
	/* text-justify: center; */
	background-color: var(--white-color);
	transition: all 0.15s ease-in-out;
	/* padding-bottom: 10px; */
}

/* .footer-icons{
	margin-top: 10px;
} */

.footer_list li:hover {
	background-color: var(--white-color);
	box-shadow: 0px 0px 45px var(--white-color);
	transform: scale(1.1);
	cursor: pointer;
}

@media (max-width: 992px) {}

@media (max-width: 769px) {
	.footer_wrapper {
		/* padding: 0 20px; */
		flex-direction: column;
		justify-content: center;
		height: 400px;
	}

	.footer_logo {
		font-size: 50px;
	}
	.footer_right span{
		text-align: center;
	}
}



/* -------------------- Paralax -------------------- */


.color-translator{
    /* position: absolute; */
    top: 1000px;
    width: 100%;
    height: 100px;    
	z-index: 10000;
	background: rgb(3,111,193);
	background: linear-gradient(180deg, rgb(3, 96, 167) 1%, rgba(14,86,133,1) 100%);

}


/* -------------------- Cave -------------------- */
.cave_img{
    position: absolute;
    margin-top: 0px;
    color: white;
    width: 100%;
    /* gap: 15px; */
    object-fit: cover;
    height: 100vh;
    /* overflow: hidden; */
}

.cave_section {
	/* position: absolute; */
	border: 2px solid yellow;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .cave_wrapper {
	border: 1px solid white;
	margin: 150px 7.5rem 150px 7.5rem;
	max-width: 1400px;
  }
  
  .cave_container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	overflow-x: scroll;
  }
  
  .group {
	border: 2px solid green;
	/* background-color: blueviolet; */
	width: 100%;
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	gap: 1rem;
	justify-content: space-around;
	padding: 2rem 10rem;
  }
  
  .box {
	width: 400px;
	height: 300px;
	background-color: rgb(137, 41, 41);
	border: 5px solid black;
	border-radius: 20px;
	transition: 0.2s ease-in-out;
  }
  
  .box:hover {
	transform: scale(1.05);
  }
  
  .snap_scroller {
	scroll-snap-type: inline mandatory;
	/* or proximity */
  }
  
  .snap_scroller > * {
	scroll-snap-align: start;
	/* scroll-snap-stop: always; */
  }
  
  .cave_section > button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
	z-index: 99;
  }
  
  @media (max-width: 996px) {
	.cave_wrapper {
	  max-width: 1000px;
	}
	.group {
	  padding: 0;
	  justify-content: center;
	}
	.box {
	  width: 350px;
	  height: 260px;
	}
  }
  
  @media (max-width: 500px) {
	.cave_wrapper {
	}
	.group {
	}
	.box {
	}
	/* W pewnym momencie groups (grid) w HTML znikną 
	zamis ttego pojawi sie flex  */
  }
  
  /* https://www.youtube.com/watch?v=3yfswsnD2sw&ab_channel=KevinPowell */
  