@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap");
/* -------------------- Global -------------------- */
:root {
  /* color variant */
  --body-color: rgb(3, 112, 194);
  /* gradient variant */
  --body-bacground: linear-gradient(
    180deg,
    #0370c2 20%,
    var(--secondary-color) 100%
  );
  --primary-color: rgb(29, 128, 255);
  --secondary-color: rgb(4, 30, 47);
  --accent-color: rgb(151, 234, 251);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--white-color);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

body {
  /* background-color: var(--body-color); */
  background: var(--body-bacground);
  /* overflow-x: hidden; */
  position: relative;
  /* overflow-y: hidden; */
}

section {
  /* border: 1px solid yellow; */
  margin: 50px 0;

  /* width: 100%; */
}

section > *:first-child {
  /* border: 1px solid red; */
  margin: 250px 0px;
  padding: 40px 20px;
}

/* -------------------- NavBar -------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  padding: 0.2rem 3%;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.5s ease;
}

.header:hover::after {
  left: 100%;
}

.logo img {
  width: 70px;
  cursor: pointer;
}

.navbar {
  transition: all 1s ease;
}

.navbarToggle {
  display: none;
}

.navbar a,
.navbarToggle a {
  position: relative;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: transform 0.1s ease-in-out;
  display: inline-block;
  cursor: pointer;
}

/* .navbar > a:hover,
.navbarToggle > a:hover {
  transform: scale(1.2);
} */

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: 0.2s ease-in;
}

.navbar a:hover::after {
  width: 100%;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2rem;
  color: var(--white-color);
  cursor: pointer;
  display: none;
}

/* Breakpoints */

@media (max-width: 992px) {
  .header {
    /* padding: 0.2rem 3%; */
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #close-icon {
    display: none;
  }

  .navbar {
    display: none;
  }

  .navbarToggle {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-in-out;
  }

  .navbarToggle a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}

.noDisplay {
  display: none;
  height: 0;
}

.displayToggleNav {
  max-height: 17.7rem;
}

/*--------------------- Hero ---------------------  */

main {
  margin-top: 210px;
}

.hero {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  padding-right: 70px;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

/* Hero left section */

.left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  font-size: 16px;
  color: var(--accent-color);
}

.title {
  font-size: clamp(2rem, 1.3223rem + 3.012vw, 3.25rem);
  font-weight: 700;
  line-height: 1.3;
  color: var(--white-color);
}

.title span {
  color: var(--accent-color);
}

.description {
  color: var(--accent-color);
}

.btns {
  display: flex;
  gap: 30px;
  align-items: center;
}
.btns > * {
  cursor: pointer;
}

.download-btn {
  background: linear-gradient(180deg, skyblue, var(--accent-color));
  box-shadow: 0 0 10px var(--accent-color);
  text-decoration: none;
  width: max-content;
  padding: 10px 25px;
  border-radius: 100px;
  font-size: 15px;
  color: var(--white-color);
  transition: all 0.2s ease;
}

.see-work-btn {
  border: 3px solid var(--accent-color);
  color: var(--white-color);
  text-decoration: none;
  width: max-content;
  padding: 5px 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
}

.download-btn:hover,
.see-work-btn:hover {
  transform: scale(1.05);
}

.see-work-btn i {
  font-size: 25px;
  opacity: 0.6;
}

/* Hero right section */

.right {
  position: relative;
}

.borders {
  width: clamp(10.625rem, 5.5422rem + 22.5904vw, 30rem);
  height: clamp(10.625rem, 5.5422rem + 22.5904vw, 30rem);
  border: 1px solid rgb(109, 109, 254);
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
  background: linear-gradient(200deg, transparent 70%, rgb(89, 130, 253));
}

.img-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 20px 30px 4px rgba(16, 143, 255, 0.542);
  /* border-radius: 250px; */
  border-radius: 50px;
  padding: 4px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 250px; */
  border-radius: 50px;
  transition: transform 0.6s ease-in-out;
}

.img-wrapper img:hover {
  transform: scale(1.1);
}

.responsiveStickerWrapper {
  display: none;
  border: 5px solid var(--accent-color);
}

.responsiveStickerWrapper > img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 150px;
  transform: scale(1.11);
}

/* Breakpoints */

@media (max-width: 992px) {
  .hero {
    justify-content: space-around;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .responsiveStickerWrapper {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-bottom: 2rem;
    background-color: #fff;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .borders,
  .prism,
  .spiral {
    display: none;
  }
  .left {
    text-align: center;
    /* transform: scale(1.15); */
  }
  .btns {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: auto 1rem;
  }
  .description {
    text-wrap: wrap;
  }
}

/* -------------------- About -------------------- */
.about_wrapper {
  overflow: hidden;
  padding: 0;
  /* position: relative; */
  display: flex;
  justify-content: center;
}
.grid {
  width: 100%;
  max-width: 2000px;
  display: grid;
  /* position: relative; */
}
.about_Card {
  max-width: 2000px;
}
/* -------------------- About Card -------------------- */

.about_card {
  margin-bottom: 10rem;
  /* display: flex;
  justify-content: center; */
}
.about_container {
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
  margin-left: 0;
}
/* apply to change left and right side of the card  */
.card_reverse {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 15%;
}

/* .card_left, */
.card_right {
  margin: 0 1%;
  width: 50%;
  height: auto;
  max-width: 35rem;
  max-height: 25rem;
  background-color: white;
  border-radius: 50px;
}

.card_left {
  /* border: 5px solid var(--accent-color); */
  width: 50%;
  height: 20rem;
  max-width: 28rem;
  max-height: 20rem;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.card_right {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3rem;
  align-content: center;
}

.card_right p {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.card_left img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.card_left:hover {
  transform: scale(1.05);
  cursor: grab;
}
/* ---------------------------------Breakinpoints */
@media (max-width: 1280px) {
  .card_reverse {
    /* margin-left: 0; */
  }
  .about_container {
    margin: auto;
  }

  .card_left,
  .card_right {
    /* width: 28rem;
    height: 20rem; */
    margin: 0 2%;
  }
  .about_card {
    margin-bottom: 7rem;
  }
  .card_right p {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .card_left {
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    /* width: 70%; */
    width: auto;
    max-width: 50%;
    min-width: 20rem;
    pointer-events: none;
  }
  .card_right {
    background: rgba(255, 255, 255, 0.1);
    /* background: rgba(18, 15, 15, 0.1); */
    width: 100%;
    max-width: 80%;
    /* max-height: ; */
    height: 20rem;
  }
  .card_left:hover {
    transform: none;
    /* transition: all 0.3s ease-in-out; */
    cursor: auto;
  }

  @media (max-width: 480px) {
    .card_left {
      max-width: 80%;
    }
    .card_right {
      /* height: 50%; */
      width: 100%;
      max-width: 100%;
      padding: 1rem 2rem;
    }
  }
}
/* -------------------- SkillCard -------------------- */

.skillCard_container {
  /* border: 1px solid lightgreen; */
  color: var(--white-color);
  margin-bottom: 3rem;
  padding: 50px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  /* min-height: 10rem;
  max-width: 50rem; */
}

.skillCard_container .card {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-around;
  /* grid-auto-flow: column; */
  gap: auto;
  flex-wrap: wrap;
}
.skill_icon {
  font-size: 10rem;
  display: flex;
  justify-content: center;
}

.percent {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  position: relative;
}

.percent > .percent_digit {
  transform: translateY(5px);
}

.skill_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 10rem;
}

.card > * {
  /* border: 1px solid orange; */
}

.svg_lines_wrapper > * {
  position: absolute;

  left: 0;
}
.skillCard_container .card .percent sup {
  /* transform: transslateY(-30px); */
}

@media (max-width: 992px) {
  .skillCard_container {
    padding: 10px;
  }
  .skill_icon {
    font-size: 7rem;
  }
  .skill_name {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .percent {
    /* transform: scale(0.7); */
  }
}

@media (max-width: 480px) {
  .skill_icon {
    font-size: 5rem;
  }
}

/* -------------------- Skills -------------------- */
.skills {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* justify-self: center; */
  width: 100%;

  /* padding: 10px; */
}

.wrapper > h1 {
  font-size: 3rem;
  margin-bottom: 7rem;
}

.wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* BreakPoints */
@media (max-width: 1280px) {
}
@media (max-width: 992px) {
  .wrapper > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

/* -------------------- Last -------------------- */
.last {
  margin: 0;
  overflow: hidden;
}

.last_container {
  padding: 200px 0;
  margin: 0 !important;
  text-align: center;
  align-content: center;
  font-size: 50px;
  color: var(--white-color);
  width: 100%;
  min-height: 400px;
  /* background: var(--body-color);
  background: linear-gradient(
    180deg,
    var(--body-color) 0%,
    var(--secondary-color) 100%
  ); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-btn {
  font-size: 3rem;
  /* width: 5rem;
  height: 5rem; */
  padding: 2rem 1rem;
  border: 2px solid black;
  /* background-color: #c01111; */
  background: linear-gradient(
    150deg,
    rgb(255, 113, 113) 0%,
    rgb(143, 2, 2) 100%
  );
  color: white;
  text-decoration: none;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bikeElements {
  display: flex;
  width: 100%;
  justify-content: center;
  /* overflow: hidden; */
}

.hole_container {
  position: absolute;
  left: 300px;
  bottom: 100px;
}

.hole_container > svg {
  position: absolute;
}

.moto_bike {
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.hole-wrapper {
  display: inline-block;

  /* position: absolute; */
}
.thumbs {
  position: absolute;
  /* top: 1rem; */
  /* z-index: 1; */
  /* left: 30rem; */

  z-index: 20;
}

@media (max-width: 768px) {
  .big-btn {
    font-size: 2.7rem;
  }
  .moto_bike {
    margin-left: -40px;
  }
}

@media (max-width: 768px) {
  .thumbs {
    /* align-self: center; */
  }
}
/* -------------------- Footer -------------------- */
footer {
  background-color: var(--secondary-color);
  overflow: hidden;
}

.overScroll {
  background-color: var(--secondary-color);
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  height: 300px;
  margin: 0 auto;
  padding: 0 150px;
}

.footer_left {
  /* margin-left: 350px; */
}

.footer_logo img {
  width: 150px;
  height: 150px;
  /* cursor: pointer; */
  color: var(--white-color);
}

.footer_right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer_right span {
  font-size: 45px;
  text-align: start;
  min-width: 50%;
  font-weight: 700;
  color: var(--white-color);
  text-decoration: underline;
}

.footer_list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}

.footer_list a {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  padding: 7.5px 5px 7.5px 5px;
  box-shadow: 0px 0px 10px white;
  text-align: center;
  background-color: var(--white-color);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* .footer_list a:hover {
  box-shadow: 0px 0px 45px var(--white-color);
} */

@media (max-width: 992px) {
}

@media (max-width: 769px) {
  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    height: 400px;
  }
  .footer_logo {
    font-size: 50px;
  }
  .footer_right span {
    text-align: center;
    font-size: 30px;
  }
  .footer_list {
    transform: scale(0.8);
  }
}

/* -------------------- Paralax -------------------- */

.color-translator {
  top: 1000px;
  width: 100%;
  height: 100px;
  z-index: 10000;
  background: rgb(3, 111, 193);
  background: linear-gradient(
    180deg,
    rgb(3, 96, 167) 1%,
    rgba(14, 86, 133, 1) 100%
  );
}

/* -------------------- Cave -------------------- */
/* full content in cave CSS */
