:root {
  --primary-color: #0e5685;
  --secondary-color: #041f31;
}

  
  .swiper {
    width: 900px;
    /* min-width: 300px; */
  }
  
  @media (max-width: 992px) {
    .swiper {
      width: 650px;
    }
  }
  
  @media (max-width: 759px) {
    .swiper {
      width: 300px;
    }
  } 

  
  /* (does not work) */
  .custom-bullet {
    height: 7px;
    width: 26px;
    background-color: #000;
    border-radius: 25px;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    opacity: 0.3;
  }
  
  .custom-bullet-active {
    background-color: var(--primary-color);
    opacity: 1;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: var(--primary-color);
    font-size: 25px !important;
  }
  
  
  /* (the same approach as this one up, but without 'important' statement) */
  /* This targets elements only if they have a class, which increases specificity. */
  /* .swiper-button-next[class]::after,
  .swiper-button-prev[class]::after {
    color: var(--primary-color);
    font-size: 25px;
  } */
  
  
  .card_wrapper {
    background-color: red;
    width: 273px;
    height: 380px;
    justify-self: center;
    outline: 3px solid #fff;
    border-radius: 20px;
    /* padding: 15px; */
    box-shadow: 0px 0px 10px #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .card_wrapper:hover{

    box-shadow: 0px 0px 25px #fff;
  }
  
  .cardData {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    border-radius: 20px;
  
    overflow: hidden;
  }
  .top_wrapper {
    background-color: var(--secondary-color);
  }
  
  .top {
    background-color: #fff;
    overflow: hidden;
     border-bottom-left-radius: 40px;
    border-bottom-right-radius: 0px;
    text-align: center;
    align-content: center;
    height: 100%;
  }
  
  .top {
    color: #000;
  }
  
  .bottom_wrapper {
    background-color: #fff;
  }
  
  .bottom {
    color: #fff;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* border-radius: 20px; */
    border-top-left-radius: 0px;
      border-top-right-radius: 45px;
    height: 100%;
    width: 100%;
  }
  
  .bottom p {
    font-size: 0.85rem;
    padding: 0.2rem;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
    /* justify-content: space-evenly; */
    margin: 20px auto 0 auto;
  }
  
  .buttons button {
    font-size: 14px;
    padding: 8px 22px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .buttons button:hover {
    /* background-color: var(--primary-color); */
    /* color: white; */
    box-shadow: 0px 0px 25px #fff;
    transform: scale(1.05);
  }

  .bottom .description{
    color: #fff;
  }
  