.paralax_container{
    top: 0;
    height: 100vh;
    background-color: #25b1d4;
    background: rgb(0,212,255);
    background: linear-gradient(180deg, #00d4ff 0%, rgba(14,86,133,1) 100%);
}

.paralax_content{
    position: absolute;
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 60px;
    padding: 20px;
    text-wrap: wrap;
    width: 100%;
    gap: 15px;
}

